<h2>Post details:</h2>

<p>
    <em><%= @post.post_name %></em>
    <br>
    <br>
    <%= @post.content %>
    <br>
    <br>
    <span style="font-size: 75; color: #999">Added at: <%=@post.created_at%></span>
</p>

