<h2>Post details:</h2>

<p>
    <em><%= @post.post_name %></em>
    <br>
    <br>
    <%= @post.content %>
    <br>
    <br>
    <span style="font-size: 75; color: #999">Added at: <%=@post.created_at%></span>
</p>

<br>
<h4>Comments: </h4>
<br>

<form action="/details/<%= @post.id %>" method="POST">
    <div class="form-group">
    <label for="exampleInputEmail1">Enter your name</label>
    <input name="comments[comment_name]" type="text" class="form-control" id="exampleInputEmail1">
    </div>
    <div class="form-group">   
    <label for="exampleInputEmail1">Enter your comment</label>     
        <textarea name="comments[message]" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add comment</button>
</form>

