<h2>
    Latest posts:
</h2>
<br>
<%@all_posts.each do |post|%>
    <p><em><%=post.post_name%></em></p>
    <p><%=post.content%></p>
    <span style="font-size: 75; color: #999">Added at: <%=post.created_at%></span>
    <br>
    <br>
    <a href="/details/<%=post['id']%>">comments</a>
    <hr>
    <br>
<%end%>